﻿<%@ Page Language="C#" AutoEventWireup="true" CodeBehind="Forbidden.aspx.cs" Inherits="PhoneLookup.Forbidden" %>

<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <META NAME="robots" CONTENT="noindex,nofollow">
    <title>Resticted!</title>
</head>
<body>
    <form id="form1" runat="server">
    <div>
   403 - You are not allowed to view this content
    </div>
    </form>
</body>
</html>
