﻿<%@ Control Language="C#" AutoEventWireup="true" CodeFile="PhoneUserControl1.ascx.cs" Inherits="PhoneLookup.PhoneUserControl1" %>


                        <div class="search-form wow pulse" data-wow-delay="0.8s">
                            <div class=" form-inline">
                                <div class="form-group">
                                    <asp:TextBox ID="searchinput" ClientIDMode="Static" MaxLength="10" runat="server" required placeholder="Enter Phone Number" class="form-control"></asp:TextBox>
                                </div>
                                <asp:Button ID="btn_Search" CssClass="btn" runat="server" OnClick="SearchNumber" Text="Search" />
                            </div>
                        </div>